@import url(../../../styles/RedirectionButton.css);


@import url(../../../styles/blue-button.css);
@import url(../../../styles/green-button.css);
@import url(../../../styles/buttons-row.css);

@import url(../../../styles/FilesPage.css);