:root {
	--primary-dark: #293629;
	--primary-accent: #242424;
	--secondary-green: #181818;
	--secondary-olive: #6a6a57;
	--accent-gold: #dbdbdb;
	--text-light: #dbdbdb;
	--text-muted: #e0e0e0;
	--side-background: #18181f;
}

* {
	/*box-sizing: border-box;*/
	margin: 0;
	padding: 0;
}

html, body, #root, app-root{
	height: 100%;
	min-height: 100vh;
}

html {
	background: var(--side-background);
	background-attachment: fixed;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: Arial, sans-serif;
	color: var(--text-light);
}

body.no-scroll {
	overflow: hidden;
}
body.modal-open {
	overflow: hidden;
	/* padding-right: var(--scrollbar-width); */
}


/* Headers */
h1, h2, h3, h4, h5, h6 {
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	margin-bottom: 1rem;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	margin: 1.5rem 0;
}
h2 {
	font-size: 2rem;
	padding-left: 1rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

@media screen and (width < 400px) {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0.75em;
		padding: 0;
	}
	h1 {
		font-size: 1.45em;
	}
	h2 {
		font-size: 1.35em;
	}
	h3 {
		font-size: 1.25em;
	}
	h4 {
		font-size: 1.15em;
	}
	h5 {
		font-size: 1.05em;
	}
	h6 {
		font-size: 1em;
	}
}
@media screen and (width < 300px) {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0.5em;
		padding: 0;
	}
	h1 {
		font-size: 1.4em;
	}
	h2 {
		font-size: 1.3em;
	}
	h3 {
		font-size: 1.2em;
	}
	h4 {
		font-size: 1.1em;
	}
	h5 {
		font-size: 1.05em;
	}
	h6 {
		font-size: 1em;
	}
}
/* a tag */
a {
	color: var(--text-light);
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
	text-decoration: underline;
}

p a {
	text-decoration: underline;
	color: var(--text-muted);
}


/* Button style */
button {
	background-color: #dbdbdb;
	border-radius: 5px;
}



*:has(.MainContent) {
	display: flex;
	flex-direction: column;
	height: 100%;
}

