.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	backdrop-filter: blur(2px);
	animation: fadeIn 0.2s ease-out;
	color: #777;
}

.modal-content {
	background-color: #242424;
	border-radius: 0.5rem;
	padding: 2rem;
	width: 100%;
	max-width: 32rem;
	max-height: 90vh;
	overflow-y: auto;
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	animation: slideUp 0.3s ease-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.justify-end{
	justify-content: space-between;
}
.flex{
	display: flex;
}
/* Скрываем скроллбар для модального окна, но оставляем возможность прокрутки */
.modal-content::-webkit-scrollbar {
	width: 6px;
}

.modal-content::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 3px;
}

.modal-content::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 3px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/*Кнопки*/
.modal-content button{
	border-radius: 5px;
	border-color: var(--accent-gold);
	background-color: #7a7a7a;
	padding: 5px;
}










.form-group{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.form-group div {
	display: flex;
	flex-direction: column;
}


.form-actions{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}




form.update-password-form, form.create-user-form, form.modal-form{
	display: flex;
	flex-direction: column;
	gap: 20px;
}


.update-password-form input, .create-user-form input, form.modal-form input{
	background: #333;
	border: 1px solid #444;
	padding: 0.2rem 0.2rem;
	border-radius: 2px;
	color: #edf2f7;
	transition: all 0.3s ease;
}