@import url(../../../styles/RedirectionButton.css);
@import url(../../../styles/ModelTable.css);

td{
	padding: 0.75rem 1rem;
	border-top: 1px solid #333;
	vertical-align: middle;
}
@media screen and (width< 880px) {
	td {
		text-wrap-mode:wrap;
		font-size: smaller;
		padding: 0;
		border-bottom: 2px solid #333;
	}
}
@media screen and (width< 615px) {
	td {
		text-wrap-mode:wrap;
		font-size:xx-small;
		padding: 0;
		border-bottom: 2px solid #333;
	}
}