# VS Code
desktop.ini
.config.json
.vscode/
__pycache__/
.venv/
tempCodeRunnerFile.py
*.log

# Visual Studio
.vs/
x64/
Debug/
Release/

# CMake
build/

# SSL
*.pem
cert.key
/SameFileServerCmake/config.json
/SameFileServerCmake/include/httplib.h

# Draw.io
*.drawio.bkp
