<td>{{ userData?.surname }}</td>
<td>{{ userData?.name }}</td>
<td>{{ userData?.patronymic }}</td>
<td>{{ userData?.email }}</td>

@if (isAdmin && $any(userData)?.createdAt | date:'dd.MM.yyyy HH:mm:ss' ) {
	<td>{{ $any(userData)?.createdAt | date:'dd.MM.yyyy HH:mm:ss' }}</td>
}

<td>
	<div class="buttons-row">
		<app-redirection-button
			[reference]="createNavigateToUserHref(userData?.email)"
			[title]="isAdmin ? 'Изменить данные' : 'Просмотр'"
			className="blue-button"
			></app-redirection-button>
			
			<!-- Дополнительная кнопка "Исключить" только для администратора -->
			@if (isAdmin) {
				<button class="red-button" (click)="onRemove()">Исключить</button>
			}
	</div>
</td>