@import url(../../../styles/RedirectionButton.css);
@import url(../../../styles/red-button.css);
@import url(../../../styles/buttons-row.css);

td{
	padding: 0.75rem 1rem;
	border-top: 1px solid #333;
	vertical-align: middle;
}