.alert-window{
	position: fixed;
	margin-top: 3.9rem;
	z-index: 1000;
	margin-left: auto;
	margin-right: auto;
	align-self: center;

	color: color-mix(in srgb, var(--accent-gold) 70%, black);
	background-color: var(--accent-gold);

	display: flex;
	align-items: center;
	gap: 15px;
	max-width: 70%;

	padding: 10px;

	border-radius: 10px;
	box-shadow: 1px 1px 10px #111;
}

.alert-window-text-content {
	flex: 1;
	word-wrap: anywhere;
}

.alert-window-square-btn {
	border-radius: 10px;
	font-weight: bold;

	color: var(--accent-gold);
	background-color: lightgoldenrodyellow;
}
.alert-window-square-btn:active {
	-webkit-transform: scale(0.7);
    transform: scale(0.7);
    transition: transform 0.3s ease;
}
.alert-window-square-btn {
	transition: none;
}
/* Убрать тени у кнопок при нажатии у телефонов */
@media (hover: hover) and (pointer: fine) {
	.alert-window-square-btn:hover {
		box-shadow: 1px 1px 7px #111;
	}
}


.alert-window-square-btn {
	width:	30px;
	height:	30px;
	min-width: auto;
	min-height: auto;
	
	font-size: medium;
	font-family: Arial, sans-serif;
	
	margin: 0;
}
/* Адаптация для маленьких экранов */
@media (max-width : 400px) {
	.alert-window-text-content{
		font-size: medium;
	}
	.alert-window-square-btn {
		width:	.1em;
		height:	.1em;
		min-width:	1.3em;
		min-height:	1.3em;
		border-radius: 6px;
		font-size: small;
	}
}
@media (max-width : 300px) {
	.alert-window-text-content{
		font-size: small;
	}
	.alert-window-square-btn {
		width:	.1em;
		height:	.1em;
		min-width:	1.2em;
		min-height:	1.2em;
		border-radius: 3px;
		font-size: xx-small;
	}
}
@media (max-width : 300px) {
	.alert-window-square-btn {
		box-shadow: 1px 1px 15px #111;
	}
}