<app-app-header></app-app-header>
<main class="MainContent">
	@if (isLoading){
		<app-loading-spinner [title]="'Загрузка групп'"></app-loading-spinner>
	} @else {
		<h1>Все группы</h1>
		<div class="add-user-container">
			<button
				(click)="setIsCreateGroupModalComponentOpen(true)"
				class="btn btn-green"
			>
				Создать группу
			</button>
		</div>
		@if (error) {
			<div class="error-message">{{ error }}</div>
		}
		<div class="model-table-container">
			<app-model-table
				[modelTableDataObject]="currentGroupModelTableDataObject"
			>
			</app-model-table>
		</div>
		<div class="buttons-row">
			<app-redirection-button 
				[className]="'btn btn-blue'" 
				[title]="'Пользователи'" 
				[reference]="'/users'"
			>
			</app-redirection-button>
			<app-redirection-button 
				[reference]="'/history'" 
				[title]="'История'"		
				[className]="'btn btn-blue'">
			</app-redirection-button>
			<app-redirection-button 
				[reference]="'/trash'" 
				[title]="'Корзина'"		
				[className]="'btn btn-red'">
			</app-redirection-button>
			<app-redirection-button 
				[reference]="'/permissions'" 
				[title]="'Права пользователей'"		
				[className]="'btn btn-red'">
			</app-redirection-button>
		</div>
	}
</main>
<app-footer></app-footer>

<app-create-group-modal
	[isOpen]="isCreateGroupModalComponentOpen"
	(onClose)="setIsCreateGroupModalComponentOpen(false)"
	(onConfirm)="handleConfirmCreateGroup($event)"
	[users]="users"
>
</app-create-group-modal>
