<app-app-header [isAdmin]="isAdmin"></app-app-header>
<main class="MainContent">
	@if (isLoading){
		<app-loading-spinner [title]="'Загрузка'"></app-loading-spinner>
	} @else {
		<h1>Все пользователи</h1>
		<div class="add-user-container">
			<button
				(click)="setIsCreateUserModalComponentOpen(true)"
				class="btn btn-green"
			>
				Создать пользователя
			</button>
		</div>
		<div class="model-table-container">
			<app-model-table
				[modelTableDataObject]="currentUserModelTableDataObjectRef"
			>
			</app-model-table>
		</div>
		@if (error) {
			<div class="error-message">{{ error }}</div>
		}
	}
</main>
<app-footer></app-footer>

<app-create-user-modal
	[isOpen]="isCreateUserModalComponentOpen"
	(onClose)="setIsCreateUserModalComponentOpen(false)"
	(onConfirm)="handleConfirmCreateUser($event)"
>
</app-create-user-modal>
