@if (files.length > 0){
	<div class="found-files-table">
		<h4>Найденные файлы</h4>
		<table>
			<thead>
				<tr>
					<th>Путь</th>
					<th>Имя</th>
					<th>Размер</th>
					<th>Дата изменения</th>
					<th>Действия</th>
				</tr>
			</thead>
			<tbody>
				@for (file of files; track $index) {
					<tr>
						<td>{{getRelativePath(file)}}</td>
						<td>{{file.name}}</td>
						<td>{{file.size}}</td>
						<td>{{file.lastModified}}</td>
						<td>
							<button (click)="downloadFile(file)" class="action-button download">Скачать
							</button>
							<button (click)="deleteFile(file)" class="action-button delete">Удалить
							</button>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}