@import url(../../../styles/red-button.css);
.close-button {
	border-radius: 5px;
	font-weight: bolder;
	font-size:x-large;

	width:	27px;
	height:	27px;
	min-width: auto;
	min-height: auto;
	padding: 0;
	
	font-family: Arial, sans-serif;
	
	margin: 0;
}