body.modal-open {
    overflow: hidden;
    padding-right: var(--scrollbar-width);
}

/* Переменная для ширины скроллбара */
:root {
    --scrollbar-width: 0px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;