.red-button {
	background-color: #dc143c;
	color: #fafad2;
	padding: 0.375rem 0.75rem;
	border-radius: 0.25rem;
	font-size: 0.875rem;
	cursor: pointer;
	border: none;
	transition: background-color 0.2s;
}

.red-button:hover {
	background-color: #fe365e;
	color: #fdfdf5;
}