@if (folders.length > 0){
	<div class="folder-table">
		<h3>Папки</h3>
		<table class="model-table">
			<thead>
				<tr>
					<th>Имя</th>
					<th>Дата изменения</th>
					<th>Действия</th>
				</tr>
			</thead>
			<tbody>
				@for (folder of folders; track $index){
					<tr>
						<td>
							{{ folder.name }}
						</td>
						<td>{{ folder.lastModified }}</td>
						<td>
							<div class="buttons-row">
								<app-redirection-button
									[className]="'blue-button'"
									[reference]="'/files/'+folder.fullPath"
									[title]="'Открыть'"
								>
								</app-redirection-button>
								<button (click)="deleteFolder(folder)" class="red-button">Удалить
								</button>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}