.MainContent {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	flex: 1;
	padding-top: 4rem;
	background-color: var(--primary-accent);
	isolation: isolate; /* Создаем новый контекст наложения */
}
@media screen and (width< 300px) {
	.MainContent {
		width: 100%;
	}
}
.MainContent > *{
	margin: 30px;
}
.MainContent > h2,
.MainContent > h3,
.MainContent > h4,
.MainContent > h5,
.MainContent > h6 {
	margin-bottom:5px;
}
.MainContent > p + p{
	margin-top: 0px;
	margin-bottom: 0px;
}
.MainContent p {
	white-space: pre-wrap; /* Сохраняем переносы и печатаем табы*/
}

div:has(.MainContent){
	height: 100%;
}