@if (folders.length > 0) {
	<div class="folder-table">
		<div class="folder-table-title">
			<ng-icon [name]="getIcon({ isFolder: true })" size="20"></ng-icon>
			<h3>Найденные папки</h3>
		</div>
		<table class="model-table">
			<thead>
				<tr>
					<th>Имя</th>
					<th>Полный путь</th>
					<th>Дата изменения</th>
					<th>Действия</th>
				</tr>
			</thead>
			<tbody>
				@for (folder of folders; track $index) {
					<tr>
						<td>
							<div class="icon-container">
								<ng-icon [name]="getIcon({ isFolder: true })"></ng-icon>
								{{ folder.name }}
							</div>
						</td>
						<td>
							<div class="icon-container">
								<ng-icon [name]="getIcon({ isFolder: true })"></ng-icon>
								{{ folder.fullPath }}
							</div>
						</td>
						<td>{{ folder.lastModified }}</td>
						<td>
							<div class="buttons-row">
								<app-redirection-button
									[className]="'btn btn-blue'"
									[reference]="'/files/'+folder.fullPath"
									[title]="'Открыть'"
								>
								</app-redirection-button>
								<button (click)="deleteFolder(folder)" class="btn btn-red">Удалить
								</button>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}