.green-button {
	background-color: var(--color-bg-button);
	color: var(--color-success-text);
	padding: 0.375rem 0.75rem;
	border-radius: 0.25rem;
	font-size: 0.875rem;
	cursor: pointer;
	border: none;
	transition: background-color 0.2s;
}

.green-button:hover {
	background-color: var(--color-bg-hover);
}