.MainContent {
	width: 90%;
	min-height: calc(100vh - 200px); /* Minimum height minus header and footer */
	flex: 1 0 auto; /* Stretches but does not shrink */
	margin: 0 auto;
	padding: 5rem 0 5rem;
	background-color: var(--color-bg-surface);
	isolation: isolate;
	box-sizing: border-box;
}

@media screen and (width < 576px) {
	.MainContent {
		width: 100%;
		padding: 2rem 0 2rem;
	}
}

/* Default margin for all primary children */
.MainContent > * {
	margin: 1.5rem;
}

.MainContent > h2,
.MainContent > h3,
.MainContent > h4,
.MainContent > h5,
.MainContent > h6 {
	margin-bottom: 0.75rem;
	padding-left: 1rem;
}

.MainContent p {
	white-space: pre-wrap;
	margin-bottom: 1rem;
	line-height: 1;
}