.model-table {
	min-width: 100%;
	background-color: #242424;
	border: 1px solid #333;
	border-collapse: collapse;
}

.model-table thead {
	background-color: var(--secondary-olive);
}

.model-table td{
	padding: 0.75rem 1rem;
	border-top: 1px solid #333;
	vertical-align: middle;
}
.model-table td{
	padding: 0.75rem 1rem;
	border-top: 1px solid #333;
	vertical-align: middle;
}

.model-table th {
	padding: 0.75rem 1rem;
	text-align: left;
	font-weight: 600;
	border-bottom: 2px solid #333;
}
@media screen and (width< 1000px) {
	.model-table th, .model-table td{
		text-wrap-mode: nowrap;
		padding: 0.25rem 0.5rem;
		border-bottom: 2px solid #333;
	}
}
@media screen and (width< 880px) {
	.model-table *{
		text-wrap-mode:wrap;
		font-size: smaller;
		padding: 0;
	}
}
@media screen and (width< 615px) {
	.model-table *{
		text-wrap-mode:wrap;
		word-wrap: break-word;
		font-size:xx-small;
		padding: 0;
	}
}


.model-table tbody tr {
	transition: background-color 0.2s;
}

.model-table tbody tr:hover {
	background-color: #484848;
}





@media screen and (width < 500px){
	.MainContent .model-table-container {
		margin: 0;
	}
}

td{
	padding: 0.75rem 1rem;
	border-top: 1px solid #333;
	vertical-align: middle;
}
@media screen and (width< 880px) {
	td {
		text-wrap-mode:wrap;
		font-size: smaller;
		padding: 0;
		border: 2px solid #333;
	}
}
@media screen and (width< 615px) {
	td, th{
		text-wrap-mode:wrap;
		font-size:xx-small;
		word-wrap: anywhere;
		overflow-wrap: anywhere;
		padding: 0;
		border-left: 2px solid #333;
	}
	td:first-child, th:first-child{
		border-left: none;
	}
}