.submit-button {
	background-color: #2a2a2a;
	color: #48bb78;
	padding: 0.375rem 0.75rem;
	border-radius: 0.25rem;
	font-size: 0.875rem;
	cursor: pointer;
	border: none;
	transition: background-color 0.2s;
}

.submit-button[data-dangerous="true"]{
	color: #bb4848;
}

.submit-button:hover {
	background-color: #484848;
}