.green-button {
	background-color: #2a2a2a;
	color: #48bb78;
	padding: 0.375rem 0.75rem;
	border-radius: 0.25rem;
	font-size: 0.875rem;
	cursor: pointer;
	border: none;
	transition: background-color 0.2s;
}

.green-button:hover {
	background-color: #484848;
}