app-app-header {
	width: 100%;
	background-color: var(--color-bg-header);
	position: fixed;
	font-weight: bold;
	z-index: 1000;
	padding: 5px 0px 5px 0px
}
.header-content {
	width: 90%;
	margin: 5px auto;
	display: flex;
	align-items: center;
	gap: 4px;
}
app-app-header > *{
	display: inline;
}
app-app-header > form{
	display: flex;
	gap: 4px;
	width: 100%;
}
.header-content a {
	font-size: 0.8rem;
}
.header-content nav {
	display: flex;
	align-items: center;
	width: auto;
	gap: 4px;
}
.header-content nav > *{
	display: inline;
	text-wrap: nowrap;
}


@media screen and (width < 576px) {
	.header-content {
		width: 97%;
	}
	.header-content a, .header-content input {
		font-size: 0.7rem;
		height: 100%;
		/* border-left: 2px solid ; */
	}
	
	.header-content a {
		position: relative;
		border-radius: 2px;
		padding: 2px;
	}

	.header-content a::before {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
		padding: 2px;
		background: linear-gradient(to bottom, transparent 0%, transparent 50%, var(--color-border-header) 100%);
		-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		pointer-events: none;
	}
	app-app-header{
		padding: 0;
	}

	.header-content nav {
		gap: 2px;
	}



	.header-content {
		flex-direction: column;
	}
}
@media screen and (width < 380px) {
	.header-content {
		flex-direction: column;
	}
}


app-file-search-header{
	width: 100%;
}