<!DOCTYPE html>
<html lang="ru">
<head>
	{% include 'parts/base_head.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/golden-button.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/classes/shadow_box.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/classes/register.css') }}">
	{% include 'classes/include/error_window.html' %}
	{% include 'classes/include/alert_window.html' %}
	
	<title>FileService — Регистрация</title>
</head>
<body>
	<header>
		{% include 'parts/header_content.html' %}
	</header>
	<main>
		<h1>Регистрация</h1>

		{% if error %}
			<p style="color: red;">{{ error }}</p>
		{% endif %}

		<script src="{{ url_for('static', filename = 'scripts/classes/register.js') }}"></script>
		<form method="POST" action="/register" id = "register-form" class = "register shadow-box">
			<input type="hidden" name="next_url" value="{{ next_url }}">

			<div class = "register-field">
				<label for="login">Логин</label>
				<input type="text" placeholder="Логин..." name="login" id="login" required>
			</div>
			
			<div class = "register-field">
				<label for="password">Пароль</label>
				<input type="password" placeholder="Пароль..." name="password" id="password" required>
			</div>

			<button type="submit" class="golden-button">Регистрация</button>
		</form>
	</main>
	<footer>
		{% include 'parts/footer_content.html' %}
	</footer>
</body>
</html>
