@if (files.length > 0){
	<div class="file-table">
		<h3>Файлы</h3>
		<table class="model-table">
			<thead>
				<tr>
					<th>Имя</th>
					<th>Размер</th>
					<th>Дата изменения</th>
					<th>Действия</th>
				</tr>
			</thead>
			<tbody>
				@for (file of files; track $index) {
					<tr>
						<td>{{ file.name }}</td>
						<td>{{ file.size }}</td>
						<td>{{ file.lastModified }}</td>
						<td>
							<div class="buttons-row">
								<button 
									(click)="downloadFile(file)" class="blue-button">Скачать
								</button>
								<button
									(click)="deleteFile(file)" class="red-button">Удалить
								</button>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}